body {
    background: radial-gradient(lightgrey, white);
    color: black;
    font-family: 'Segoe UI Light', Segoe UI, Arial;
    font-weight: lighter;
    text-align: center;
}
.appInput {
    height: 50px;
    width: 50%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}
.appInput:hover {
    box-shadow: 0 0 10px black;
}
.start {
    height: 50px;
    width: 30%;
    border: 1px solid lightgrey;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    background: grey;
    color: white;
}
.start:hover {
    box-shadow: 0 0 10px black;
}
.protocol {
    background: linear-gradient(to right, transparent, white, transparent);
    color: black;
    overflow: auto;
    cursor: pointer;
}